$navbar-color: #302c2c;


// ---------------navbar----------
.navbar{
    padding:0;
}
.navbar-color{
    background-color:$navbar-color;
    border-color: #0e0606;
    
}

/* register button */
#register-button{
    background-color:blue;
    width:100%;
}

#jump-menu{
    text-decoration: none;
    list-style: none;
    padding-left:0;
}


// -----------container----------
.custom-container{
    margin: 0 auto;
}

.main-container{

    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    min-width: 860px;
    max-width: 1190px;
    margin-top:0;
    width:80%;
    
}

.content-side-center{
    display:inline-block;
    width: 500px;    
}

.content-side{
    width:300px;
    font-size:12px;
}


 .content-side-left{    
    margin-right:20px;
}

 
.content-side-right{  
    margin-left:20px;
}



#main-area{
    background-color: #ebeced;
}

/* --------------misc------------- */
.reduce-length{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    
}

.custom-card-title h5 {
    line-height: 1.6;
}

.custom-row{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    
}
.custom-col{
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content: space-between;
    
}
.noresize {
    resize: none;
 }

a{
    text-decoration: none;
    color:inherit;
}

abbr{
    float:right;
        color:#777;
        font-size:11px;
        font-weight:400;
        margin-top:2px
    }



/*----------------  box ------------- */

.custom-box{
    border: 1px solid #c5c8cb;
    border-radius: 1px;
    height:fit-content;
    margin:1rem  auto;
}


.text-content{
    background-color:white;
    padding:1rem;
    font-size:16px;
}


.title{
    background-color: #f6f6f6;
    padding: 1rem;
    font-size:16px;
    font-weight:700;
}


// ---------------post-------------
.post{
    width:500px;
    margin:1rem auto;
   
}

.custom-card-title{
    background-color: #f6f6f6;
    margin:0;
    padding:0.5rem 0.5rem 0 0.5rem ;
    height:50px;
}



.post-image{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:white;
}


.show-comments{
    
    background-color: #f6f6f6;
    display: flex;
    flex-flow:column nowrap;
    
}


.comment-block{
    display:flex;
    flex-flow:row nowrap;
    align-items:flex-start;
    padding:0.3rem;

}
.comment-username{
    font-weight: 700;
    margin:0 0.5rem;

}
.view-comments{
    margin: 0.1rem 0.2rem;
    font-size:10;
    color: rgba(var(--f52,142,142,142),1);
}


/* ------------------------scroll to top----------------  */
#scroll-to-top{
    margin:auto;
    align-self: flex-end;
    position: fixed;
    bottom: 60px;
    right:60px;
    background-color:white;
    border: 1px solid #c5c8cb;
}
#scroll-to-top:hover{
    background-color: wheat;
}


/* ----------------most voted right side---------------  */
.need-to-be-logged-in{
    margin-right: 1rem;
    
}
.need-to-be-logged-in h5{
    margin-bottom: 0;
}

.most-votes{
    list-style: none;
    padding:0;
    margin-bottom:0;
}

.item-voted-posts{
    display:flex;
    flex-direction: row nowrap;
    justify-content:flex-start;
    border-bottom: 1px solid #c5c8cb;
    align-items: center;
}

.img-thumb-vote{
    width:40px;
    height:40px;
    margin-left:0.5rem;
}

#votes-text-content{
    padding:0;
}

.points-voted-posts{
    margin-right:0.7rem;
    margin-left:auto;
}
.vote{
    display: flex;
    flex-flow: row nowrap;
}
.vote-up, .vote-down{
    margin-right:5px;
}

.title-voted-posts{
    margin:0 1rem;
}

/* -----------meme post area-------- */
#post-bottom-text{
    display:flex;
    flex-flow: column nowrap;
}

#upper-level,#lower-level{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    
}

#upper-level{
    margin-bottom:1rem;
    
}

.custom-card{
     border:1px solid #c5c8cb;
    background-color: #f6f6f6;
   
    width: 500px;
}

.points-value{
    margin-right:1rem;
}

.social{
    display:flex;
    align-items: center;
    
}



// ---------social links---------
.social-button{
    margin:0 0.3rem ;
}
#fb-button{
    background:#3b5998;
    
}
#twitter-button{
    background:#1DA1F2;
}

#fb-button,#twitter-button{
    border-radius: 4px;
    padding:0.2rem;
    text-decoration: none;
    color:white;
    
    height:30px;
}

.vote > button{
    border-radius: 4px;
    padding:0.2rem;
    text-decoration: none;
    width:80px;
    height:40px;
    text-align: center;
}
.vote{
    margin-left:0.5rem;
    text-align: center;
}

//--------- best comments area ------- 

.row-spaced{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}