.navbar{
    padding:0;
}

#main-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    min-width: 860px;
    max-width: 1180px;
    margin:0 auto;
    
}

#main-area{
    background-color: #ebeced;
}

a{
    text-decoration: none;
    color:inherit;
}

/*---------------- inside the box ------------- */
.text-content{
    background-color:white;
    padding:1rem;
}


.title{
    background-color: #f6f6f6;
    border-bottom: 1px solid #e1e1e1;
    padding: 1rem;
    font-size:12px;
    font-weight:700;
}

.content-side{
    width:300px;
    font-size:12px;
}

 /* ----------------content areas--------- */
 #content-side-left{
    float:left;
    
}

 
#content-side-right{  
   float:right;
   
}

#content-side-center{
    display:inline-block;
    width: 540px;
    
    
}


@media (min-width: 1000px){
    
   
}
/* --------------misc------------- */
.reduce-length{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.custom-row{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
.noresize {
    resize: none;
 }

.post{
    width:500px;
    padding:15px;
}

.box{
    
    border: 1px solid #c5c8cb;
    border-radius: 2px;
    height:fit-content;
    margin:1.5rem  auto;
}


/* ----------------navbar---------------- */
.navbar-color{
    background-color: #302c2c;
    border-color: #0e0606;
    
}

/* register button */
#register-button{
    background-color:blue;
    width:100%;
}

#jump-menu{
    text-decoration: none;
    list-style: none;
    padding-left:0;
}

/* ------------------------scroll to top----------------  */
#scroll-to-top{
    margin:auto;
    align-self: flex-end;
    position: fixed;
    bottom: 60px;
    right:60px;
    background-color:white;
    border: 1px solid #c5c8cb;
}
#scroll-to-top:hover{
    background-color: wheat;
}


/* ----------------most voted right side---------------  */
#most-votes{
    list-style: none;
    padding:0;
}

.item-voted-posts{
    display:flex;
    flex-direction: row nowrap;
    justify-content:space-between;
    border-bottom: 1px solid #c5c8cb;
    align-items: center;
}

.img-thumb-vote{
    width:40px;
    height:40px;
    margin-left:0.5rem;
}

#votes-text-content{
    padding:0;
}

.points-voted-posts{
    margin-right:0.7rem;
}
.vote{
    display: flex;
    flex-flow: row nowrap;
}
.vote-up, .vote-down{
    margin-right:5px;
}



/* -----------meme post area-------- */
#post-bottom-text{
    display:flex;
    flex-flow: column nowrap;
}

#upper-level,#lower-level{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    
}

#upper-level{
    margin-bottom:1rem;
    
}



.points-value{
    margin-right:1rem;
}

.social{
    display:flex;
    align-items: center;
    
}

.social-button{
    margin:0 0.3rem ;
}
#fb-button{
    background:#3b5998;
    
}
#twitter-button{
    background:#1DA1F2;
}

#fb-button,#twitter-button{
    border-radius: 4px;
    padding:0.2rem;
    text-decoration: none;
    color:white;
    
    height:30px;
}

.vote > button{
    border-radius: 4px;
    padding:0.2rem;
    text-decoration: none;
    width:80px;
    height:40px;
    text-align: center;
}
.vote{
    margin-left:0.5rem;
    text-align: center;
}

//--------- best comments area ------- 

.row-spaced{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}