.borderTest{
    border:1px solid #ccc;
}


#content {
    min-width: 860px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.noresize {
    resize: none;
 }

 .test{
     background-color: #F8F8F8;
    
    box-shadow: #DCDCDC;
     
 }

 #profilePic{
     width: 200px;
     height:auto;
 }

 #content-side-left{
     float: left;
     margin-right: 20px;
 }

 
 #content-side-right{
     float: right;
     margin-left: 20px;
 }

#content-side-center{
    width: 600px;
}
.box{
    padding:4px;
}