

#main-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    min-width: 860px;
    max-width: 1180px;
    margin:0 auto;
    
}

#main-area{
    background-color: #ebeced;
}


.text-content{
    background-color:white;
    padding:1rem;
}


.title{
    background-color: #f6f6f6;
    border-bottom: 1px solid #e1e1e1;
    padding: 1rem;
    font-size:12px;
    font-weight:700;
}

.content-side{
    width:300px;
    font-size:12px;
}

 #content-side-left{
    float:left;
}

 
#content-side-right{  
   float:right;
}

#content-side-center{
    display:inline-block;
    width: 540px;
}


.noresize {
    resize: none;
 }

.post{
    width:500px;
    padding:15px;
}

.box{
    border-radius: 4px;
    border: 1px solid #c5c8cb;
    height:fit-content;
    margin:1.5rem  auto;
}


/* navbar/ */
.navbar-color{
    background-color: #302c2c;
    border-color: #0e0606;
    
}

/* register button */
#register-button{
    background-color:blue;
    width:100%;
}

#jump-menu{
    text-decoration: none;
    list-style: none;
    padding-left:0;
}

#scroll-to-top{
    margin:auto;
    align-self: flex-end;
    position: fixed;
    bottom: 60px;
    right:60px;
    background-color:white;
    border: 1px solid #c5c8cb;
}
#scroll-to-top:hover{
    background-color: wheat;
}

#most-votes{
    
}