<% layout('layouts/boilerplate')%>

    <div id="main-container">
        <div id="content-side-left">
            <div class="box content-side">
                <div class="title">
                    New here?
                </div>
                <div class="text-content">
                    <p>Signup now to be able to comment, vote and more in the funniest community on the Internet!
                    </p>
                    <button action="/register" type="button" id="register-button"
                        class="btn btn-success">Register</button>
                </div>
            </div>
            <div class="box content-side">
                <div class="title">Shortcuts</div>
                <div class="text-content">
                    <ul id="jump-menu">
                        <li>J - Jump to next post</li>
                        <li>K - Jump to previous post</li>
                        <li>L - Like current post</li>
                        <li>H - Dislike current post</li>
                        <li>C - Show comments of current post</li>
                        <li>O - Open current post in a new tab</li>
                        <li>Z - Zoom in on current post</li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="" id="content-side-center>">
            <% for (let meme of memes){%>
                <div class=" col-12 pb-3 post">
                    <div class="container-fluid px-0 ">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-fluid" src="<%=meme.image.url %>" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href='/memes/<%=meme._id%>'>
                                    <%= meme.title%>
                                </a>
                            </h5>
                            <p class="card-text">
                                <%= meme.description %>
                            </p>
                        </div>

                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>

                </div>
                <% }%>
        </div>
        <div id="content-side-right">
            <div class="box content-side">
                <div class="title">
                    <h1>This is the index page</h1>
                </div>
                <div class="text-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laboriosam ratione eligendi
                        laudantium, vero blanditiis ad commodi unde ex rem magni! Sapiente, quidem eum perspiciatis
                        explicabo
                        consequatur vitae architecto repudiandae!
                    </p>
                </div>
            </div>
        </div>
    </div>