#meme-index-container{
    margin:0 auto;
    
}

.meme-col{
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    width: 50%;
    margin:1.5rem;
    align-self: flex-start;
}

.comment-title{
    font-weight: 700;
    margin-right:1rem;

}
.reduce-length-more{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    
}

.comment-card{
    background-color: white;
    width:300px;
    margin-bottom:0px;
    
}

.user-title{
    font-weight: 700;
    margin: 0 1rem;
    
}
.user-reputation{
    margin: 0 1rem 0 auto;
}